/* Reset standaard marges en padding */
body, h1, p, button {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header-main-topmenu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    padding: 10px;
    z-index: 1000;
}

header-main-topmenu a {
    color: white;
    text-decoration: none;
    padding: 10px;
    margin: 0 15px;
}

header-main-topmenu a:hover {
    background-color: #575757;
}

.page {
    min-height: 100vh;  /* Zorgt ervoor dat de sectie ten minste de hoogte van het scherm heeft */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    transition: transform 0.5s ease-in-out;
}

.page h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

.page p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    background-color: #333;
    color: white;
    border: none;
    margin: 10px;
}

button:hover {
    background-color: #575757;
}
