#header-main-topmenu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    padding: 10px;
    z-index: 1000;
    display: flex; /* Flexbox voor horizontale weergave */
    justify-content: center; /* Centreert de knoppen */
    align-items: center; /* Verticaal centreren */
}

#header-main-topmenu a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    margin: 0 15px;
    font-size: 1.2em;
    display: inline-block; /* Zorgt ervoor dat ze inline blijven */
}

#header-main-topmenu a:hover {
    background-color: #575757;
}
