.header-main-topmenu {
    display: flex; /* Zet de items naast elkaar */
    justify-content: center; /* Centreer de knoppen horizontaal */
    align-items: center; /* Centreer de knoppen verticaal in de navbar */
    background-color: #333;
    padding: 10px;
}

.menu-item {
    margin: 0 15px; /* Ruimte tussen de knoppen */
}

.menu-item a {
    color: white;
    text-decoration: none;
    padding: 10px;
    font-size: 1.2em;
}

.menu-item a:hover {
    background-color: #575757;
}
